
    <%- include('./head.ejs') %>
<link rel="stylesheet" type="text/css"href="/style.css">
  </head>


  <body>
   
   <%- include('./navigation.ejs') %>
    
    <% allMovies.map((movie) => {%>
        
      
      <div class="container">
      <h1 class="title"><%= movie.title %></h1>
      %>
      <div class="sinopsis">
        <img src="<%= movie.image %>" alt="" class="image" />
        <div class="description">
          <p class="plot"><%= movie.plot %></p>
          <p class="year"><%= movie.year %></p>
          <p class="director">Director: <span class="span-director"><%= movie.director %></span></p>
          <p class="rating">Imdb rating: <span class="span-rating"><%= movie.imdbRating %></span></p>
           <a href="/movies/edit-movie/<%=movie._id%>"><button class="btn">More infos
          </button></a> 
          
          </button>
        </div>
      </div>
    </div>
    <% }) %>

 
     <script ></script>
  </body>
</html>
